<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container center">
<div class="container center">
<h3>List of Books</h3>
    <form action="#" th:action="@{/}" th:object="${newBook}" method="post">
        <input type="text" th:field="*{name}" placeholder="name"/>
        <input type="text" th:field="*{author}" placeholder="author"/>
        <input type="submit" value="create new book" class="btn btn-primary green"/>
        <input type="reset" value="reset" class="btn btn-primary red"/>
    </form>
</div>

<table class="centered">
    <thead>
    <tr>
        <th>Book name</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.name}" />
        <td th:text="${book.author}" />
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
